/* universal style */

html, body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  width: 960px;
}

span {
  display: inkine-block;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/* header */

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.menu {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  padding: 1rem 1rem;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem;
}

nav {
  display: flex;
  padding: 1rem 0;
}

nav span {
  padding: 0 2rem;
}

.sm-site {
  display: none;
}

h1 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  position: relative;
  left: 48%;
  margin-top: 10rem;
  width: 20rem;
  ;
}

/* services */

.services {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  width: 50%;
}

figure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 7rem;
}

.paper {
  width: 3.5rem;
}

.ruler, .truck {
  width: 5rem;
}

/* information */

.information {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

article {
  width: 35%;
}

.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.info {
  padding: 1rem 0;
}

/* footer */

footer {
  background-color: azure;
  position: relative;
  top: 5rem;
}

footer .logo {
  padding: 4rem;
}
